@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-basis-40 {
  flex-basis: 40%;
}

.flex-basis-60 {
  flex-basis: 60%;
}

.flex-basis-100 {
  flex-basis: 100%;
}

.color-box {
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(#ff469f, #ff6062);
  border-radius: 20px 0 0 20px;
  width: 80%;
  height: 100%;
  z-index: -1;
}

.line::after {
  content: '';
  width: 10px;
  height: 57%;
  background: linear-gradient(#ff469f, #ff6062);
  position: absolute;
  left: -40px;
  top: 8px;
}

button {
  width: 140px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  background: linear-gradient(to right, #fb5283, #ff3527);
  border-radius: 6px;
  cursor: pointer;
  transition: width 0.5s;
}

button img {
  width: 30px;
  display: none;
}

button:hover img {
  display: block;
}

button:hover {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
